<div class="row">
    <div class="col-md-4 offset-md-4">

        <b-card no-body>
        <b-tabs card>
            <b-tab title="Login" active>

            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group label="UserName:"
                            label-for="name"
                            description="Enter your username.">
                <b-form-input type="text"
                                v-model="form.name"
                                required
                                placeholder="Enter UserName">
                </b-form-input>
                </b-form-group>
                <b-form-group label="Password:"
                            label-for="password">
                <b-form-input type="password"
                                v-model="form.password"
                                required
                                placeholder="Enter Password">
                </b-form-input>
                </b-form-group>

                <b-button type="submit" variant="primary">Log In</b-button>
            </b-form>         

            </b-tab>
            <b-tab title="Signup">
            Tab Contents 2
            </b-tab>
        </b-tabs>
        </b-card>

    </div>
</div>
